<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script type='text/javascript' src='../x3dom-files/x3dom.js'> </script> 
    <script   src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'> </script> 
    <link rel='stylesheet' type='text/css' href='../x3dom-files/x3dom.css'></link> 

    <title>Simple icons</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #text-post {
        width: 300px;
        height: 120px;
        float: left;
        margin-left: 30px;
      }

      .x3dSpace {
        float: right;
        margin-right: 100px;
      }

    </style>
  </head>
  <body>
    <textarea id="text-post" >
    </textarea>
    <button id="poster">POST</button>

    <div class="x3dSpace">
      <x3d width='400px' height='300px'> 
         <scene> 
         </scene> 
      </x3d> 
    </div>
    
  </body>
  <script>

  $("#poster").click(function() {
    var obj = {};
    obj['value'] = String($("#text-post").val()).trim();
    sendAjaxData(obj);
  });


  function changeScene(content) {
      $("scene").empty();
      $("scene").append(String(content));
  }

  function sendAjaxData(content) {
    var submit = $.ajax({
            url: 'http://localhost:3333/', 
            type: 'POST', 
            data: content,
            error: function(error) {
            console.log("Error - AJAX");
          }
        });
          submit.success(function (data) {
            var success = data;
            console.log(data);
            changeScene(data);
        });
  };
  </script>
</html>